In [33]:
# ref: https://www.kaggle.com/code/gazu468/movie-recommendation-system-with-basic-concept#Feature-Extraction-
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [34]:
data=pd.read_csv("./data/titles.csv")

In [35]:
data

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5801,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0,0.966,NaN
5802,tm1108171,Edis Starlight,MOVIE,Rising star Edis's career journey with ups and...,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN,1.036,8.5
5803,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0,0.709,NaN
5804,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0,2.186,NaN
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0,0.979,10.0

## process and clean data

In [36]:
movies_pre_processed=data[["id","title","description", "genres", "imdb_id","imdb_score","imdb_votes","tmdb_popularity","tmdb_score"]]

In [37]:
movies_pre_processed.isnull().sum()

id                   0
title                1
description         18
genres               0
imdb_id            444
imdb_score         523
imdb_votes         539
tmdb_popularity     94
tmdb_score         318
dtype: int64

In [38]:
# movies.dropna(inplace=True)
movies = movies_pre_processed.dropna()

In [39]:
movies.isnull().sum()

id                 0
title              0
description        0
genres             0
imdb_id            0
imdb_score         0
imdb_votes         0
tmdb_popularity    0
tmdb_score         0
dtype: int64

In [40]:
movies.duplicated().sum()
movies.reset_index(drop=True,inplace=True)
movies

,id,title,description,genres,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm84618,Taxi Driver,A mentally unstable Vietnam War veteran works ...,"['crime', 'drama']",tt0075314,8.3,795222.0,27.612,8.2
1,tm127384,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...","['comedy', 'fantasy']",tt0071853,8.2,530877.0,18.216,7.8
2,tm70993,Life of Brian,"Brian Cohen is an average young Jewish man, bu...",['comedy'],tt0079470,8.0,392419.0,17.505,7.8
3,tm190788,The Exorcist,12-year-old Regan MacNeil begins to adapt an e...,['horror'],tt0070047,8.1,391942.0,95.337,7.7
4,ts22164,Monty Python's Flying Circus,A British sketch comedy series with the shows ...,"['comedy', 'european']",tt0063929,8.8,72895.0,12.919,8.3
...,...,...,...,...,...,...,...,...,...
5034,tm1097142,My Bride,The story follows a young man and woman who go...,"['comedy', 'drama', 'romance']",tt14216488,4.9,281.0,2.923,5.3
5035,tm878575,The Heartbreak Club,"Coping with heartbreak, the shy owner of floun...","['comedy', 'drama', 'romance']",tt11841144,6.2,188.0,2.227,8.0
5036,ts286386,The Big Day,"For six engaged couples, happily ever after be...","['reality', 'romance']",tt13887518,4.6,327.0,1.400,6.0
5037,tm1004011,Time to Dance,When a ballroom dancer’s shot at a crucial tou...,"['drama', 'romance']",tt8622232,2.2,950.0,2.911,4.0
5038,ts271048,Mighty Little Bheem: Kite Festival,"With winter behind them, Bheem and his townspe...","['family', 'comedy', 'animation']",tt13711094,8.8,16.0,0.979,10.0

In [41]:
import re

def Convert(string):
    s=re.sub("[^A-Za-z,]","",string)
    return list(s.split(","))

new_genres = movies['genres'].apply(Convert)
movies['genres'] = new_genres

In [42]:
movies.loc[5038 , 'genres']

['family', 'comedy', 'animation']

In [43]:
movies

,id,title,description,genres,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm84618,Taxi Driver,A mentally unstable Vietnam War veteran works ...,"[crime, drama]",tt0075314,8.3,795222.0,27.612,8.2
1,tm127384,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...","[comedy, fantasy]",tt0071853,8.2,530877.0,18.216,7.8
2,tm70993,Life of Brian,"Brian Cohen is an average young Jewish man, bu...",[comedy],tt0079470,8.0,392419.0,17.505,7.8
3,tm190788,The Exorcist,12-year-old Regan MacNeil begins to adapt an e...,[horror],tt0070047,8.1,391942.0,95.337,7.7
4,ts22164,Monty Python's Flying Circus,A British sketch comedy series with the shows ...,"[comedy, european]",tt0063929,8.8,72895.0,12.919,8.3
...,...,...,...,...,...,...,...,...,...
5034,tm1097142,My Bride,The story follows a young man and woman who go...,"[comedy, drama, romance]",tt14216488,4.9,281.0,2.923,5.3
5035,tm878575,The Heartbreak Club,"Coping with heartbreak, the shy owner of floun...","[comedy, drama, romance]",tt11841144,6.2,188.0,2.227,8.0
5036,ts286386,The Big Day,"For six engaged couples, happily ever after be...","[reality, romance]",tt13887518,4.6,327.0,1.400,6.0
5037,tm1004011,Time to Dance,When a ballroom dancer’s shot at a crucial tou...,"[drama, romance]",tt8622232,2.2,950.0,2.911,4.0
5038,ts271048,Mighty Little Bheem: Kite Festival,"With winter behind them, Bheem and his townspe...","[family, comedy, animation]",tt13711094,8.8,16.0,0.979,10.0

In [44]:
def des_convert(des):
    s=re.sub("[^A-Za-z ]","",des)
    return list(s.split(","))
    
# description: convert string to list of words
movies['description'] = movies['description'].apply(des_convert)

In [45]:
# # remove space
# movies['genres']=movies['genres'].apply(lambda x : [i.replace(" ","")for i in x])
# movies['description']=movies['description'].apply(lambda x : [i.replace(" ","")for i in x])

In [46]:
movies.head()

,id,title,description,genres,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm84618,Taxi Driver,[A mentally unstable Vietnam War veteran works...,"[crime, drama]",tt0075314,8.3,795222.0,27.612,8.2
1,tm127384,Monty Python and the Holy Grail,[King Arthur accompanied by his squire recruit...,"[comedy, fantasy]",tt0071853,8.2,530877.0,18.216,7.8
2,tm70993,Life of Brian,[Brian Cohen is an average young Jewish man bu...,[comedy],tt0079470,8.0,392419.0,17.505,7.8
3,tm190788,The Exorcist,[yearold Regan MacNeil begins to adapt an expl...,[horror],tt0070047,8.1,391942.0,95.337,7.7
4,ts22164,Monty Python's Flying Circus,[A British sketch comedy series with the shows...,"[comedy, european]",tt0063929,8.8,72895.0,12.919,8.3

In [47]:
movies['tags']= movies['genres'] + movies['description']

In [48]:
partial_df = movies[["id", "title", "tags"]]

In [49]:
partial_df['tags']=partial_df['tags'].apply(lambda x: " ".join(x))
partial_df['tags']=partial_df['tags'].apply(lambda x: x.lower())

In [50]:
partial_df

,id,title,tags
0,tm84618,Taxi Driver,crime drama a mentally unstable vietnam war ve...
1,tm127384,Monty Python and the Holy Grail,comedy fantasy king arthur accompanied by his ...
2,tm70993,Life of Brian,comedy brian cohen is an average young jewish ...
3,tm190788,The Exorcist,horror yearold regan macneil begins to adapt a...
4,ts22164,Monty Python's Flying Circus,comedy european a british sketch comedy series...
...,...,...,...
5034,tm1097142,My Bride,comedy drama romance the story follows a young...
5035,tm878575,The Heartbreak Club,comedy drama romance coping with heartbreak th...
5036,ts286386,The Big Day,reality romance for six engaged couples happil...
5037,tm1004011,Time to Dance,drama romance when a ballroom dancers shot at ...
5038,ts271048,Mighty Little Bheem: Kite Festival,family comedy animation with winter behind the...

## recommend movies

In [51]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\abitv\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\abitv\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\abitv\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [54]:
lemmatizer = WordNetLemmatizer()

In [55]:
def lemmatize_convert(text):
    words = nltk.word_tokenize(text)
    words = [lemmatizer.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]
    return ' '.join(words)

In [56]:
#lematization
partial_df['tags']=partial_df['tags'].apply(lemmatize_convert)

### extract feature

In [57]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [65]:
tfidf=TfidfVectorizer(max_features=3000,analyzer='word',stop_words="english")
tfdf_features=tfidf.fit_transform(partial_df['tags'])

In [66]:
# recommend

In [67]:
from sklearn.metrics.pairwise import cosine_similarity

In [68]:
tfidf.transform(["stranger things"])

<1x3000 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [69]:
'''
recommend movie based on input string. This function uses 
tfidf with genre and descriptions of movies in the dataset
as ranking function
@param ipt_str: input string
@return: a list of recommended movie
'''
def recommend_movie(ipt_str):
#   Input can be processed too (lematization, lowercased, etc)
    tfidf_ipt = tfidf.transform([ipt_str])
    tfdf_similarity=cosine_similarity(tfdf_features, tfidf_ipt)
    
    movies_list=sorted(list(enumerate(tfdf_similarity)), reverse=True, key=lambda x : x[1])[1:6]
    
    for i in movies_list:
        print(f"{partial_df.iloc[i[0]].title} Similarity Score: {i[1][0]}") 
        print(f"{partial_df.iloc[i[0]].tags}\n")

In [70]:
print(partial_df[partial_df['title']=="Beyond Stranger Things"]["tags"].item())

documentation secret stranger thing universe revealed cast guest discus latest episode host jim rash caution spoiler ahead

In [71]:
recommend_movie("stranger thing")

Beyond Stranger Things Similarity Score: 0.325280396445236
documentation secret stranger thing universe revealed cast guest discus latest episode host jim rash caution spoiler ahead

XOXO Similarity Score: 0.31583038548245024
music drama xoxo follows six stranger whose life collide one frenetic dreamchasing hopelessly romantic night

Wanted Similarity Score: 0.2851612092796214
drama action crime two complete stranger lola chelsea intervene fatal carjacking waiting suburban bus stop subsequently thrust chase authority across australia vehicle filled cash stranger must rely solely run

Falsa identidad Similarity Score: 0.2783617910405266
action thriller crime drama isabel diego two complete stranger must assume identity married couple order flee state sonora

Pee-wee's Big Holiday Similarity Score: 0.276283262704467
comedy family fateful meeting mysterious stranger inspires peewee herman take firstever holiday

In [208]:
recommend_movie("stranger things")

Pee-wee's Big Holiday Similarity Score: 0.32415879046658735
comedy family a fateful meeting with a mysterious stranger inspires peewee herman to take his firstever holiday

XOXO Similarity Score: 0.31602107956898157
music drama xoxo follows six stranger whose life collide in one frenetic dreamchasing hopelessly romantic night

Holidate Similarity Score: 0.29381765583545105
romance comedy fed up with being single on holiday two stranger agree to be each others platonic plusones all year long only to catch real feeling along the way

Rattlesnake Similarity Score: 0.2919958411583966
horror thriller drama crime after a mysterious woman save her daughter from a deadly snakebite a single mother must repay the debt by killing a stranger before sundown

X: Past Is Present Similarity Score: 0.29104032676235897
drama thriller romance when a middleaged filmmaker meet an alluring stranger at a party he haunted by troubling memory of his past relationship

In [90]:
movies

,id,title,description,genres,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,tags
0,tm84618,Taxi Driver,"[A, mentally, unstable, Vietnam, War, veteran,...","[crime, drama]",tt0075314,8.3,795222.0,27.612,8.2,"[crime, drama, A, mentally, unstable, Vietnam,..."
1,tm127384,Monty Python and the Holy Grail,"[King, Arthur,, accompanied, by, his, squire,,...","[comedy, fantasy]",tt0071853,8.2,530877.0,18.216,7.8,"[comedy, fantasy, King, Arthur,, accompanied, ..."
2,tm70993,Life of Brian,"[Brian, Cohen, is, an, average, young, Jewish,...",[comedy],tt0079470,8.0,392419.0,17.505,7.8,"[comedy, Brian, Cohen, is, an, average, young,..."
3,tm190788,The Exorcist,"[12-year-old, Regan, MacNeil, begins, to, adap...",[horror],tt0070047,8.1,391942.0,95.337,7.7,"[horror, 12-year-old, Regan, MacNeil, begins, ..."
4,ts22164,Monty Python's Flying Circus,"[A, British, sketch, comedy, series, with, the...","[comedy, european]",tt0063929,8.8,72895.0,12.919,8.3,"[comedy, european, A, British, sketch, comedy,..."
...,...,...,...,...,...,...,...,...,...,...
5034,tm1097142,My Bride,"[The, story, follows, a, young, man, and, woma...","[comedy, drama, romance]",tt14216488,4.9,281.0,2.923,5.3,"[comedy, drama, romance, The, story, follows, ..."
5035,tm878575,The Heartbreak Club,"[Coping, with, heartbreak,, the, shy, owner, o...","[comedy, drama, romance]",tt11841144,6.2,188.0,2.227,8.0,"[comedy, drama, romance, Coping, with, heartbr..."
5036,ts286386,The Big Day,"[For, six, engaged, couples,, happily, ever, a...","[reality, romance]",tt13887518,4.6,327.0,1.400,6.0,"[reality, romance, For, six, engaged, couples,..."
5037,tm1004011,Time to Dance,"[When, a, ballroom, dancer’s, shot, at, a, cru...","[drama, romance]",tt8622232,2.2,950.0,2.911,4.0,"[drama, romance, When, a, ballroom, dancer’s, ..."
5038,ts271048,Mighty Little Bheem: Kite Festival,"[With, winter, behind, them,, Bheem, and, his,...","[family, comedy, animation]",tt13711094,8.8,16.0,0.979,10.0,"[family, comedy, animation, With, winter, behi..."

In [91]:
movies[movies["imdb_score"] >= 5]

,id,title,description,genres,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,tags
0,tm84618,Taxi Driver,"[A, mentally, unstable, Vietnam, War, veteran,...","[crime, drama]",tt0075314,8.3,795222.0,27.612,8.2,"[crime, drama, A, mentally, unstable, Vietnam,..."
1,tm127384,Monty Python and the Holy Grail,"[King, Arthur,, accompanied, by, his, squire,,...","[comedy, fantasy]",tt0071853,8.2,530877.0,18.216,7.8,"[comedy, fantasy, King, Arthur,, accompanied, ..."
2,tm70993,Life of Brian,"[Brian, Cohen, is, an, average, young, Jewish,...",[comedy],tt0079470,8.0,392419.0,17.505,7.8,"[comedy, Brian, Cohen, is, an, average, young,..."
3,tm190788,The Exorcist,"[12-year-old, Regan, MacNeil, begins, to, adap...",[horror],tt0070047,8.1,391942.0,95.337,7.7,"[horror, 12-year-old, Regan, MacNeil, begins, ..."
4,ts22164,Monty Python's Flying Circus,"[A, British, sketch, comedy, series, with, the...","[comedy, european]",tt0063929,8.8,72895.0,12.919,8.3,"[comedy, european, A, British, sketch, comedy,..."
...,...,...,...,...,...,...,...,...,...,...
5029,tm1040832,Mommy Issues,"[“Mommy, Issues”, revolves, around, Ella, (Pok...",[comedy],tt14880428,5.4,38.0,2.043,1.0,"[comedy, “Mommy, Issues”, revolves, around, El..."
5030,tm1025616,Loyiso Gola: Unlearning,"[South, African, comedian, Loyiso, Gola, serve...",[comedy],tt14111708,5.9,202.0,1.672,7.5,"[comedy, South, African, comedian, Loyiso, Gol..."
5031,tm846586,Layla Majnun,"[While, in, Azerbaijan,, Layla,, an, Indonesia...","[drama, romance]",tt11313944,6.1,272.0,3.646,7.5,"[drama, romance, While, in, Azerbaijan,, Layla..."
5035,tm878575,The Heartbreak Club,"[Coping, with, heartbreak,, the, shy, owner, o...","[comedy, drama, romance]",tt11841144,6.2,188.0,2.227,8.0,"[comedy, drama, romance, Coping, with, heartbr..."
5038,ts271048,Mighty Little Bheem: Kite Festival,"[With, winter, behind, them,, Bheem, and, his,...","[family, comedy, animation]",tt13711094,8.8,16.0,0.979,10.0,"[family, comedy, animation, With, winter, behi..."